name: Sample Test Two
on:
  workflow_dispatch:
    inputs:
      suiteName:
        type: choice
        description: 'Select Suite Name'
        required: false
        default: 'testNg_withDc.xml'
        options: ['testNg_withDc.xml', 'testNg_withDc1.xml', 'testNg_withDc3.xml']
jobs:
  job1:
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      output1: ${{ steps.step1.outputs.test }}
      output2: ${{ steps.step2.outputs.test }}
    steps:
      - id: step1
        run: echo "test=hello" >> "$GITHUB_OUTPUT"
      - id: step2
        run: echo "test=${{steps.step1.outcome}}" >> "$GITHUB_OUTPUT"
  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - env:
          OUTPUT1: ${{needs.job1.outputs.output1}}
          OUTPUT2: ${{needs.job1.outputs.output2}}
        run: echo "$OUTPUT1 $OUTPUT2"

