name: Sample Test Two
on:
  workflow_dispatch:
    inputs:
      suiteName:
        type: choice
        description: 'Select Suite Name'
        required: false
        default: 'testNg_withDc.xml'
        options: ['testNg_withDc.xml', 'testNg_withDc1.xml', 'testNg_withDc3.xml']
jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      variable_name: 'failure'
    steps:
      - name: Set output variable
        id: set_output
        run: |
          echo "This is Job 1 Step1"
          
      - name: Use output variable
        run: |
          echo "variable_name==${{steps.set_output.outcome}}" >> $GITHUB_ENV
          "variable_name==${{steps.set_output.outcome}}" >> $GITHUB_ENV
          echo "The value of variable_name is ${{ needs.job1.outputs.variable_name }}"

  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - name: Use output variable
        run: |
          echo "The value of variable_name is ${{ needs.job1.outputs.variable_name }}"

